* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
}

div#root{
 height: 100%;
 width: 100%;
 max-width: 400px;
 max-height: 400px;

}

main{
    background-color: #F5F5F5 ;
    border-radius: 5px;
    height: 100%;

    
   
 

  
}
