* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
}

div#root{
 height: 100%;
 width: 100%;
 max-width: 400px;
 max-height: 400px;

}

main{
    background-color: #F5F5F5 ;
    border-radius: 5px;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;

}
.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,auto);
    gap:20px;
    margin-bottom: 40px;

}
.title {
    font-size: 40px;
    margin: 0;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
}

.container button{
    height: 50px;
    width: 50px;
    background-color: white;
    border:none;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

button.roll-dice{
  height: 50px;
   white-space: nowarp;
    width: auto;
    padding: 6px 21px;
    border: none;
    border-radius: 5px;
    background-color:blue;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

/* read by screen  readers only and not displayed visually */
/* .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
} */